body {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.text-input {
  font-size: 1.2rem;
}
